@import '../../partials/variables';
@import '../../partials/typography';
@import '../../partials/specs';


.comments{
    @include sidespex;
    border-bottom: 2px solid $mercury;
    display: flex;
    margin-top: 1rem;
    @media (min-width:$tablet) {
        margin-top: 1rem;
    }
    
    &__profile{ 
        display: flex;
    }
    &__icon{
        background-color: $mercury;
        width: 9rem;
        height: 2rem;
        border-radius: 50%;
        @media (min-width:$tablet) {
            width: 5rem;
            height: 2.5rem;
        }
        @media (min-width:$desktop) {
            width: 4rem;
            height: 2.5rem;
        }
    }
    &__content{
        margin-left: 0.5rem;
    }

    &__name{ 
        color: $black; 
        @include h3; 
        margin-bottom: 0.75rem;
        @media (min-width:$desktop) {
            margin-left: 1rem;
            margin-right: 1rem;
        }
       
    }
    &__date{ 
        color: $silver; 
        @include h3; 
        margin: 0;
        
    }
    &__text{ 
        color: $black; 
        @include h3-comments;
        @media (min-width:$desktop) {
            margin-left: 1rem;
            margin-right: 0;
        } 
        
    }

}