@font-face{
    font-family: 'Av-bold';
    src: url('../Assets/fonts/fonts/AvenirNextLTPro-Bold.otf') ;
}

@font-face{
    font-family: 'Av-demi';
    src: url('../Assets/fonts/fonts/AvenirNextLTPro-Demi.otf');
}

@font-face{
    font-family: 'Av-regular';
    src: url('../Assets/fonts/fonts/AvenirNextLTPro-Regular.otf') ;
}