@import '../../partials/variables';
@import '../../partials/typography';
@import '../../partials/specs';

.Content{
    @include sidespex;
    &__title{
        @include h1;
        // color: $black;
    }
    &__items-left{
        display: flex;
        align-items: baseline;
        padding: 1rem 0 0 0 ;
    }
    &__channel{
        @include channel;
        // color: $black;
    }
    &__date{
        @include h3;
        margin-left: 0.5rem;
       
    }

    &__items-right{
        display: flex;
        align-items: baseline;
        padding: 2rem 0 1.5rem 0 ;
        @media (min-width:$tablet) {
            padding: 1.5rem 0 0 0 ;
        }
        @media (min-width:$desktop) {
            justify-content: flex-start;
            padding: 1.5rem 0 1.5rem 0 ;

        }
    }
    &__items{
        @media (min-width:$tablet) {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            
        }
    }
    &__views{
        @include h3; 
        margin-right:2rem ;
        @media (min-width:$tablet) {
            margin-left: 0.5rem;
            margin-right: 2rem;
        }
        @media (min-width:$desktop) {
            margin: 0rem;
            margin-left: 0.5rem;
            margin-right: 2rem;
        }
    }
    &__icons{
        @media (min-width:$desktop) {
            padding-right: .5rem;

        }
    }
    &__likes{
        @include h3; 
        @media (min-width:$tablet) {
            margin: 0rem;
            margin-left: 0.5rem;
        }
        @media (min-width:$desktop) {
            margin: 0rem;
            margin-left: 0.5rem;
        }
    } 

    &__desc{
        @include h4;
        color:$black;
        margin: 1.5rem 0 2.5rem 0;
        @media (min-width:$tablet) {
            margin: 2.5rem 0 4rem 0;
            width: 72%;
        }
    }
}