@import '../../partials/variables';
@import '../../partials/typography';
.Content{ 
    &__title{ 
        margin: 0 1rem;
        @include h1;
        color:$black;
        width: 100%;

    }
    &__channel {
        @include h2;
        color:$black;
    }
    &__date{ 
        @include h3; 
        color:$mercury;
        @media (min-width:$tablet) {
            margin-left: 0.5rem;
        }
    }

    &__views{
        @include h4; 
        color:$black;
        margin-left: 0.5rem;
    }
    &__likes{
        @include h4; 
        color:$black;
        margin-left: 0.5rem;
    }
    .Content__items{ 
        @media (min-width:$tablet) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        
    }
    .Content__items-left{ 
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin: 0 8rem 0 1rem;   
    }
    .Content__items-right{ 
        display: flex; 
        align-items: center;
        margin: 0 8rem 0 1rem;;
       
        .Content__views{
            padding-right: 0.5rem; 
        }
        
    }
    hr{
        margin: 1rem;
        
    }

    &__desc{ 
        @include h4;
        color:$black;
        margin: 0 1rem; 
    }
    
}