@import '../../partials/variables';
@import '../../partials/typography';
@import '../../partials/specs';



.profile{ 
    @include sidespex; 
    display: flex;
    align-items: flex-start;
    border-bottom: 2px solid $mercury;
    padding-bottom: 1.5rem;

    &__form{
        @include h3;
        color: $silver;
        margin-left: 2rem;

        @media (min-width:$tablet) {
            display: flex;
            align-items: center;
        }
    }

    &__textarea{
        resize: none;
        outline: none;
        border: 2px solid $silver;
        border-radius: 5px;
        background-color: $offwhite;
        padding: 0.5rem 0.5rem;
        height: 30vh;
        width: 100%;
        margin-bottom: 1rem;
        @include h4;
        @media (min-width:$tablet) {
            height: 12vh;
            width: 520px;
            margin-bottom: 0; 
        }
    }
    &__textarea:active, &__textarea:hover{
        border: 2px solid $brainflix-blue;
    }
    button{
        border: 2px solid $brainflix-blue;
        border-radius: 5px;
        background-color: $brainflix-blue;
        color: $offwhite;
        @include h3;
        height: 16vh;
        
       
        width: 100%;
        @media (min-width:$tablet) {
            width: 25%;
            height: 12vh;
            margin-left: 1rem;
            
        }
    }
    img{
        // margin: 0 1rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        object-fit: cover;
        @media (min-width:$tablet) {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}
.profile-heading{
    @include sidespex; 
    @include h4-header; 
    color: $silver;
    padding-left: 5rem;
    padding-bottom: 0.5rem;
    @media (min-width:$tablet) {
        padding-left: 4.5rem;
    }
}