@import '../../partials/variables';
@import '../../partials/typography';
@import '../../partials/specs';
 

// .navbar{
//     background-color: $white;
//     width: 100%;
//     height: 10.5625rem; 
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     @media (min-width:$tablet) {
//         height: 5rem;
//         display: flex;
//         flex-direction: row;
//         align-items: flex-start;

//     } 

//     &__content{
//         display: flex;
//         flex-direction: column;
//         @media (min-width:$tablet) {
//             flex-direction: row;
//         }
//     }

//     &__logo{
//         // height: 3rem;
//         // padding: 1rem;
//         width: 120px;
//         display: flex;
//         align-self: center;
//         margin: 8px 0px 8px 0px;
//     }


//          input{ 
//             background-image: url('../../assets/Icons/SVG/Icon-search.svg');
//             background-repeat: no-repeat;
//             border: 1px solid $mercury;
//             background-position: 10px 50%;
//             padding:  0.2rem 1.5rem;
//             margin: 0 1rem;
//             width: 75%;
//             height: 50px;
//             border-radius: 5px;
//             background-color: $offwhite;
//             //  margin: 1rem;
             
//          }
//          input::placeholder{padding-left: 1rem;} 
//          .navbar__bottom{
//              margin: 0 1rem;
//              display: flex;
//              justify-content: space-between;
//              @media (min-width:$tablet) {
//                 position: relative;
//                 left: 15rem;
        
//             }

//          }
//          button{
//             background-image: url('../../assets/Icons/PNG/Icon-upload.png');
//             background-repeat: no-repeat;
//             background-position: 33% 50%;
//             background-color: $brainflix-blue;
//             border-radius: 4px;
//             border-color: transparent;
//             padding:1rem 5rem;
//             color:White;
//             @media (min-width:$tablet) {
//                 padding:0rem 5rem;
                
        
//             }
            
//          }
         
//          .navbar__pic{
//              width: 20%;
//              height:3.5rem;
//              border-radius: 50%;
//              @media (min-width:$tablet) {
//                 width: 15%;
//                 height:3.5rem;
//                 border-radius: 50%;
        
//             }
//          }
  
     
//  }
 .navbar{
     @include sidespex; 
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 10.5625rem;

    @media (min-width:$tablet) {
        flex-direction: row;
        height: 80px;
    }

    &__pic{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
    &__logo{
        padding-top: 1rem;
    }
    input{
        background-image: url('../../assets/Icons/SVG/Icon-search.svg');
        background-repeat: no-repeat;
        border: 1px solid $mercury;
        background-position: 10px 50%;
        padding:  1rem 0;
        margin: 1rem;
        width: 100%;
        border-radius: 5px;
        background-color: $offwhite;
        @media (min-width:$tablet) {
            width: 100%;
        }
    }
    input::placeholder{
        padding-left: 2rem;
        @include h4;
    } 

    &__content{
        display: flex;
        align-items: center;

    }
    button{
        background-image: url('../../assets/Icons/PNG/Icon-upload.png');
        background-repeat: no-repeat;
        background-position: 30% 50%;
        background-color: $brainflix-blue;
        border-radius: 4px;
        border-color: transparent;
        padding:1rem 5rem;
        color:White;
        margin-right: 1.5rem;
        @media (min-width:$tablet) {
            padding:1rem 1.5rem;
            background-position: 10% 50%;
        }
    }
    
 }
