@import '../../partials/variables';
@import '../../partials/typography';
@import '../../partials/specs';
h3{
    @include h2;
    @include sidespex;
    color: $black; 
    margin-bottom: 1.5rem;
    @media (min-width:$tablet) {
        margin-bottom: 2rem;
    }
}
.details{ 
    @media (min-width:$desktop) {
        margin-right:0 ;
        border-right: 2px solid $mercury;
    }
    
}