@import '../../partials/variables';
.vid-control{
    display: flex;
    // justify-content: space-between;
    width: 100%;
    // margin: 1rem;
    position: relative;
    bottom: 3rem;
    left:4.5%;
    @media (min-width:$tablet) {
        position: relative;
        bottom: 4rem;
        left: 6.3%;
    }
    @media (min-width:$desktop) {
        position: relative;
        bottom: 5rem;
        left: 19%;
    }
}