@import '../../partials/variables';
.vid-control{
    display: flex;
    // justify-content: space-between;
    width: 100%;
    margin: 1rem;
    position: relative;
    bottom: 4.5rem;
    @media (min-width:$tablet) {
        position: relative;
        bottom: 5rem;
        left: 10%;
    }
    @media (min-width:$desktop) {
        position: relative;
        bottom: 5rem;
        left: 17.75%;
    }
}