@import '../../partials/variables';
@import '../../partials/typography';
@import '../../partials/specs';
 
 .navbar{
     @include sidespex; 
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 10.5625rem;

    @media (min-width:$tablet) {
        flex-direction: row;
        height: 80px;
    }

    &__pic{
        
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        object-fit: cover;
        
    }
    &__logo{
        padding-top: 1rem;
        @media (min-width:$tablet) {
            margin-right: 10.5625rem;
        }
        @media (min-width:$desktop) {
            margin-right: 31.8125rem;
        }
    }
    input{
        background-image: url('../../assets/Icons/SVG/Icon-search.svg');
        background-repeat: no-repeat;
        border: 1px solid $mercury;
        background-position: 10px 50%;
        padding:  1rem 0;
        margin: 1rem;
        width: 100%;
        border-radius: 5px;
        background-color: $offwhite;
        @media (min-width:$tablet) {
            width: 100%;
        }
    }
    input::placeholder{
        padding-left: 2rem;
        @include h4;
    } 

    &__content{
        display: flex;
        align-items: center;

    }
    button{
        
        
        background-color: $brainflix-blue;
        border-radius: 4px;
        border-color: transparent;
        width: 215px;
        height: 13vw;
        color:White;
        margin-right: 1.5rem;
        @media (min-width:$tablet) {
            height: 3rem;
            width: 6.25rem;
        }
        @media (min-width:$desktop) {
            height: 3rem;
            width: 6.25rem;
        }

    }
    button::before{
        content: url(../../assets/Icons/SVG/Icon-upload.svg);
    }
    
 }
