.play-image-container{
    background-color:brown;
    opacity: .8;
    display: flex;
    justify-content: center;
    height: 35px;
    width: 50px;
    border-radius: 4px;
    margin-right: 8px;
    
}