.vid-controls-rhs {
    background-color: salmon;
    opacity: .9;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    height: 35px;
    width: 70px;
    border-radius: 4px;
    // margin: 0px 0px 0px 8px;

    
}