@import '../../partials/variables';
@import '../../partials/typography';

.side-vids__header{
    color:$silver;
    @include h2;
    margin: 1rem; 
}
.side-vids__container{
    display: flex;
    margin: 1rem;
    align-items: center;
    .side-vids__image{
        width: 120px;
        height: 70px;
        object-fit: cover;
        border-radius: 5px;
    }
    .side-vids__content{  
        // margin-left: 1rem;
        h3{ 
            @include h3;
            color: $black; 
         }
         h4{
             @include h4; 
             color: $black;
             margin-left: 1rem;
         }
    }
}

.side-vids__links{ 
    text-decoration: none;
}
.side-vids{
    display: flex;
    flex-direction: column;
}