@import '../../partials/variables';
.play-image-container{
    background-color:$black;
    opacity: 80%;
    display: flex;
    justify-content: center;
    height: 35px;
    width: 50px;
    border-radius: 4px;
    margin-right: 8px;
    
}