@import '../../partials/variables';
@import '../../partials/typography';

.comment{
    .comments{
        margin: 0 1rem;
        &__profile{
            display:flex;
            align-items: center;
            justify-content: space-between;
            
        }
        &__icon{
            background-color: $silver;
            width: 25px;
            height: 25px;
            border-radius: 50%;
        }
        &__name{ 
            color: $black; 
            @include h3; 
            // margin-right: 6rem;;
        }
        &__date{ 
            color: $silver; 
            @include h3; 
            
        }
        &__text{ 
            color: $black; 
            @include h4; 
            margin-left: 2.2rem;
        }
    }
}
