@import '../../partials/variables';
@import '../../partials/typography';

.section{ 
    @media (min-width:$desktop) {
        display: flex;
        
    }
    &__left{
        @media (min-width:$desktop) {
            margin: 0;
            border-right: 2px solid $mercury;
            // padding-right: 1rem;
        }
    }
}